@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

$corner-radius: 25px;

* {
  font-family: "NanumSquareNeo-Variable", serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #C5C9DB;
}

button {
  border-radius: 8px;
  background: #6692FF;
  border-width: 0;
  color: white;
  padding: 0.7rem 0.5rem;
  transition: ease-in 0.1s;

  &:hover {
    background: #80a5ff;
  }
}

#sidebar {
  position: absolute;
  width: 20rem;
  height: 100%;
  background-color: white;
  padding: 0 2.5rem;
}

#profile-info {
  align-content: center;
  text-align: center;
  margin-top: 5rem;

  img {
    width: 5.5rem;
    height: 5.5rem;
    flex-shrink: 0;
    border-radius: 1.625rem;
    border: 4px solid #6692FF;
  }

  .stdnumber {
    color: #666;
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .name {
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

#profile-buttons {
  display: inline-flex;
  align-items: stretch;
  gap: 0.7rem;
  width: 20rem;
  margin-top: 3rem;

  button {
    border-radius: 16px;
    padding: 1rem 1rem;
    flex: 1;
    text-align: start;
    font-size: 1rem;
  }

  button:nth-child(1) {
    border: 3px solid rgba(75, 123, 242, 0.08);
    background: #E0E6F5;
    color: black;

    &:hover {
      background: #d2dced;
    }

    i {
      color: #828282;
    }
  }
}

.card {
  border-radius: $corner-radius;
  background: #E0E6F5;
  width: 20rem;
  margin-top: 2rem;
  text-align: center;

  hr {
    display: block;
    width: 20px;
    height: 4px;
    border-width: 0;
    top: 24px;
    margin-left: 30px;
    background: #96AFED;
  }

  p {
    margin-top: 4px;
    margin-bottom: 1rem;
    margin-left: 30px;
    text-align: start;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  img {
    width: 18rem;
    border-radius: $corner-radius;
    margin-bottom: 1rem;
  }
}