@import "common.scss";

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

button {
  border-radius: 8px;
  background: #6692FF;
  border-width: 0;
  color: white;
  padding: 0.7rem 0.5rem;
  transition: ease-in 0.1s;

  &:hover {
    background: #80a5ff;
  }
}